* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'DrWeb Bold';
  src: url('https://clevertech.biz/_next/static/media/drweb-bold.1d8c9d14.woff') format('woff');
  /* You can add other font formats (e.g., woff2) for better browser compatibility */
}

@font-face {
  font-family: 'Basis Grotesque Regular Pro';
  src: url('https://clevertech.biz/_next/static/media/basis-grotesque-regular-pro.1e211fad.woff2') format('woff2');
  /* Add additional font formats as needed for browser compatibility */
}

body {
  margin: 0;
  padding: 0;
  font-family:'Basis Grotesque Regular Pro', "karla";
  color: #460b38;
  overflow-x: hidden;
  background-color: #cbcff3;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  padding: 20px;
  box-shadow: 0px 2.98246px 7.4564px rgba(0, 0, 0, 0.1);
}


.header--title {
  font-size: 20px; /*20px / 16 === 1.25rem*/
  background:rgba(197, 219, 254, 0.5);
  border-radius: 15%;
  padding: 10px;
  text-align: center;
  font-family: "DrWeb Bold";
  cursor: pointer;
  
}

.img-gen-div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.img-gen-input {
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the box-shadow as needed */
  overflow: hidden; /* Ensure border-radius and box-shadow are applied properly */
}

.img-gen-input input {
  padding: 10px;
  border: none;
}

.img-gen-input button {
  padding: 10px;
  background-color: rgb(96, 210, 172);
  color: #fff;
  border: none;
  border-radius: 0 15px 15px 0; /* Adjust button border-radius to match the container */
  cursor: pointer;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-div,
.image-url {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-id,
.error {
  font-style: italic;
}

.image-name {
  margin-bottom: 20px;
}

.responsive-image {
  max-width: 100%; /* Ensure the image doesn't exceed its parent container's width */
  margin-bottom: 20px;
}

img {
  border-radius: 15px;
  border: 4px solid burlywood; /* Set border to transparent */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.image-link:hover {
  color: rgb(96, 210, 172);
  text-decoration: none;
  cursor: pointer;
}

footer {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
  border-top: 1px solid black;
  font-family:'Basis Grotesque Regular Pro', "karla";
}


